footer {
    background-color: rgb(2, 151, 184);
    color: white;
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Roboto', sans-serif;
  }
  
  