section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton {
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    margin: 2%;
}

form {
    background-color: rgb(211, 225, 229);
    height: fit-content;
    border: 3px #598795 solid;
    text-align: center;
    border-radius: 10px;

}

.container {
    display: flex;
    justify-content: center;
}

.hijo3,
.hijo4 {
    width: 75%;
}

.hijo1,
.hijo2 {
    width: 35%;
    height: 2rem;
}

.hijo3 {
    height: 2rem;
}

.form {
    font-size: 1rem;
    text-align: center;
    top: 0;
}