body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0;
    background-color: rgb(176, 228, 218);
    font-size: 1rem;

}

p {
    top: 1%;
    font-size: 1rem;
    text-align: justify;
    margin: 10px;
}

.fotocamion {
    width: 300px;
    height: 200px;
}

h1 {
    color: rgb(2, 151, 184);
    text-align: center;
    font-size: 2rem;
}

h2,
h3,
h4,
h5,
h6 {
    color: rgb(2, 151, 184);
    text-align: center;
    font-size: 2rem;
    bottom: 0;
}

figure {
    display: inline-block;
    border: rgb(2, 151, 184) 3px solid;
    border-radius: 10px;
    color: rgb(2, 151, 184);
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    background-color: rgb(152, 230, 247);
}