.bg-body-tertiary {
    font-family: 'Roboto', sans-serif;
}

header {
    align-items: center;
    justify-content: right;

    .ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 20px;
    }

    .li {
        .e {
            color: rgb(2, 151, 184);
            font-size: 1.5rem;
            font-weight: bold;
            text-decoration: none;
            transition: transform 1s;

            &:hover {
                font-size: 1.7rem;
                transform: translateY(-5px);
                color: rgb(2, 136, 165);

            }
        }
    }

    .navbar {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .logo {
        cursor: pointer;
        padding-right: 2%;
    }

    .color {
        background-color: none;
        display: flex;
    }
}